<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>طلب التبرع | خيرات الدواء</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../../resource/img/khme-logo.jpeg" rel="icon">
    <link href="../../resource/img/khme-logo.jpeg" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <!-- Vendor CSS Files -->
    <link href="../../assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../../assets/css/style.css" rel="stylesheet">

    <style>
        /* Fonts */
        @font-face {
            font-family: GESbold;
            src: url("../../resource/font/Bold.otf") format("opentype");
        }

        @font-face {
            font-family: GESmedium;
            src: url("../../resource/font/Medium.otf") format("opentype");
        }

        @font-face {
            font-family: GESlight;
            src: url("../../resource/font/Light.otf") format("opentype");
        }
    </style>
</head>

<body>


    <main id="main">
        <section id="goal" class="about">
            <div class="container" data-aos="">
                <div class="section-title">
                    <h2 style="font-family: GESbold;">طلب تبرع</h2>
                    <hr>
                    <div style="text-align: right;">
                        <form  class="row g-3 float-end">
                            <h6 style="font-family: GESbold;color: cornflowerblue;">المعلومات الشخصية</h6>
                            <div class="col-md-6">
                                <label for="inputName" class="form-label" style="font-family: GESlight;">الاسم</label>
                                <input type="text" class="form-control" id="inputName" required>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" style="font-family: GESlight;">هل أنت</label><br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="singal" required>
                                    <label class="form-check-label" for="inlineRadio1" style="font-family: GESlight;">فرد</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="group">
                                    <label class="form-check-label" for="inlineRadio2" style="font-family: GESlight;">مؤسسة</label>
                                </div>
                                <script>
                                    var singal = document.getElementById("inlineRadio1");
                                    var group = document.getElementById("inlineRadio2");
                                    var pholder = document.getElementById("inputName");
                                    singal.onclick = function() {
                                        pholder.placeholder = "الاسم كاملا"
                                    }
                                    group.onclick = function() {
                                        pholder.placeholder = "اسم المؤسسة"
                                    }
                                </script>
                            </div>
                            <div class="col-12">
                                <label for="inputPhone" class="form-label" style="font-family: GESlight;">رقم الجوال</label>
                                <input type="tel" class="form-control" id="inputPhone" placeholder="05XXXXXXXX" required>
                            </div>
                            <div class="col-12">
                                <label for="inputEmail" class="form-label" style="font-family: GESlight;">البريد الالكتروني</label>
                                <input type="email" class="form-control" id="inputEmail" placeholder="example@example.com" required>
                            </div>
                            <div class="col-md-6">
                                <label for="inputCity" class="form-label" style="font-family: GESlight;">الشارع</label>
                                <input type="text" class="form-control" id="inputCity" required>
                            </div>
                            <div class="col-md-4">
                                <label for="inputState" class="form-label" style="font-family: GESlight;">المدينة</label>
                                <select id="inputState" class="form-select" required>
                                    <option selected style="font-family: GESlight;">اختر المدينة</option>
                                    <option>مكة المكرمة</option>
                                    <option>المدينة المنورة</option>
                                    <option>جدة</option>
                                    <option>الرياض</option>
                                    <option>الطائف</option>
                                    <option>الباحة</option>
                                    <option>الدمام</option>
                                    <option>الخبر</option>
                                    <option>تبوك</option>
                                    <option>الجبيل</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label for="inputZip" class="form-label" style="font-family: GESlight;">الرمز البريدي</label>
                                <input type="text" class="form-control" id="inputZip" required>
                            </div>
                            <hr>
                            <h6 style="font-family: GESbold;color: cornflowerblue;">معلومات الدواء</h6>
                            <div class="col-md-6">
                                <label for="inputMidican" class="form-label" style="font-family: GESlight;" required>اسم الدواء</label>
                                <input type="text" class="form-control" id="inputidican">
                            </div>
                            <div class="col-md-6">
                                <label for="inputCount" class="form-label" style="font-family: GESlight;">الكمية</label>
                                <input type="number" class="form-control" id="inputCount" required>
                            </div>
                            <div class="col-12">
                                <label for="inputExpiarDate" class="form-label" style="font-family: GESlight;">تاريخ انتهاء الصلاحية</label>
                                <input type="date" class="form-control" id="inputcount" required>
                            </div>

                            <p style="font-family: GESbold;color: blue;cursor: pointer;" title="لاتزال تحت التطوير">+ اضافة المزيد من الادوية</a>
                                <hr>
                            <h6 style="font-family: GESbold;color: cornflowerblue;">طريقة التسليم</h6>
                            <div class="col-md-6">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="midSend" id="givePoint" value="givePoint" required>
                                    <label class="form-check-label" for="givePoint" style="font-family: GESlight;">التسليم في مقر الجمعية حضورياَ</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="midSend" id="delivary" value="delivary">
                                    <label class="form-check-label" for="delivary" style="font-family: GESlight;">طلب خدمة التوصيل</label>
                                </div>
                            </div>
                            <hr>
                            <h6 style="font-family: GESbold;color: cornflowerblue;">الشروط والمعايير</h6>
                            <div class="col-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="cb1" style="float: right;" require>
                                    <label class="form-check-label" for="cb1" style="font-family: GESlight;margin-right: 30px;">
                                    اقر انا المدون بيناته بأن جميع الادوية التي اود تسليمها تم تخزينها بطرق التخزين المناسبة وفق الشركة الصانعة
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="cb2" style="float: right;"  require>
                                    <label class="form-check-label" for="cb2" style="font-family: GESlight;margin-right: 30px;">
                                    باقي على تاريخ الانتهاء 4 اشهر او اكثر
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="cb3" style="float: right;" require>
                                    <label class="form-check-label" for="cb3" style="font-family: GESlight;margin-right: 30px;">
                                    الادوية التي سوف يتم تسليمها غير خاضعة للرقابة او من الادوية المخدرة
                                    </label>
                                </div>
                                <script>
                                    document.getElementById("cb1").required = true;
                                    document.getElementById("cb2").required = true;
                                    document.getElementById("cb3").required = true;
                                </script>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary" style="font-family: GESmedium;">رفع الطلب</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact text-center">
                        <img src="../../resource/img/khme-logo.jpeg" alt="" class="img-fluid">
                        <h3>Drug Donation</h3>
                        <div class="social-links text-md-right pt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4 style="font-family: GESmedium;">روابط مفيدة</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="../../index.html" style="font-family: GESlight;">الرئيسية</a>
                            </li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://www.socialthon.net/" style="font-family: GESlight;">السوشلثون</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="view/general/aboutteam.html" style="font-family: GESlight;">فريق السوشلثون</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="view/general/policyScreen.html" style="font-family: GESlight;">الشروط والأحكام</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="auth/login.php" style="font-family: GESlight;">دخول الموظفين</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4 style="font-family: GESlight;">جميع الحقوق محفوظة</h4>
                        <br><br>
                        <div class="copyright" dir="ltr">
                            &copy; Copyright <strong><span>Drug Donation</span></strong>. All Rights Reserved
                        </div>
                        <div class="credits" dir="ltr">
                            Developed by <a href="https://qarinet01.github.io/MySite/">Qari.Net</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer><!-- End Footer -->

    <!-- <div id="preloader"></div> -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="../../assets/vendor/aos/aos.js"></script>
    <script src="../..assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../..assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../..assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../..assets/vendor/php-email-form/validate.js"></script>
    <script src="../..assets/vendor/purecounter/purecounter.js"></script>
    <script src="../..assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="../..assets/js/main.js"></script>
</body>

</html>